{
  "version": 2,
  "build": {
    "env": {
      "VITE_SUPABASE_URL": "@vite_supabase_url",
      "VITE_SUPABASE_ANON_KEY": "@vite_supabase_anon_key"
    }
  },
  "routes": [
    {
      "src": "/sw.js",
      "headers": {
        "Cache-Control": "no-cache, no-store, must-revalidate",
        "Content-Type": "application/javascript"
      },
      "dest": "/sw.js"
    },
    {
      "src": "/manifest.json",
      "headers": {
        "Cache-Control": "no-cache, no-store, must-revalidate",
        "Content-Type": "application/manifest+json"
      },
      "dest": "/manifest.json"
    },
    {
      "src": "/(.*)",
      "dest": "/index.html"
    }
  ]
}
